/*
Developer name: Jeandre Melaria
Project title: Monster Inc - Newsletter
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Newsletter
File created date: 21.01.2018
Last modified:
*/

// === === Table of contents === === //
// - Variables
// - Functions
// - Mixings
// - General 
// - Media queries

// === === Variables === === //
// Colors 
@greyLight:#DFE0E1;
@greyMid:#AEBFC8;
@greyDark:#878587;
@orangeDark:#FE371F; 
@orangeLight:#EE7D78;
@white:white;
@green:green;

@width:21.9rem;
@height:20rem;
@margin:1rem;
// Font
@fontFamily: 'Ubuntu',
sans-serif;
@fontWeight: 400;
@fontSize: 1rem;
@padding:2rem;

// === === Functions === === //

// === === Mixings === === //
.header{
  width: @width;
  height: @height;
  background-color:@orangeDark;

  &__logo{
    display:block;
    .header__logo--link{
      text-decoration:none;
      color:@white;
      margin:@margin;
    }
  }

  .header__img{
    .header__img--size {
      display: block;
      width:7rem!important;
      margin:0 auto;
    }
    
    .header__img--title {
      text-transform: uppercase;
      text-align: center;
      margin-top:-1.5rem;
      color:@orangeLight;
      font-weight: 700;
    }
    .header__img--subTitle {
       text-align: center;
       font-weight:(@fontWeight + 500);
       .text--color;
    }
  }
  
}
.fa {
  display: block;
  color:@green;
  font-size:(@fontSize + 3rem);
}
.fa-check {
  display: block;
  position:relative;
   top:-2rem;
   left:2rem;
}
.text--color {
  color:@white;
}
.content {
  padding:@padding;
  background-color: @white;
  &--style {
    text-align: center;
  }
  display: block;
  .content__par {
    margin: @margin auto;
    color:@greyDark;
  }
  .content__link {
    margin: @margin auto;
    color:@orangeDark;
  }
  .content__title {
    margin-top:@margin;
    font-weight: (@fontWeight + 150);
  }
  .btn{
    margin-top:3rem;
    margin-bottom:3rem;
    height: 4rem;
    font-size: (@fontSize + 0.3rem);
  }
  .btn-secondary {
    background-color:@orangeDark;
    border-color:@orangeDark;
  }
}

.footer {
  margin-bottom: @margin;
  .content__par {
    margin: @margin auto;
    color:@greyDark;
  }
  .footer__link {
    color:@greyDark;
  }
}
// === === General === === //
* {
  box-sizing: border-box;
}
.body {
  font-family: @fontFamily;
  background-color:@greyLight;
}

// === === Media queries === === //
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }