/*
Developer name: Jeandre Melaria
Project title: Monster Inc - Newsletter
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Less
Editor tool: Visual Studio Code
Database:  -
Project type: Newsletter
File created date: 21.01.2018
Last modified:
*/
.header {
  width: 21.9rem;
  height: 20rem;
  background-color: #FE371F;
}
.header__logo {
  display: block;
}
.header__logo .header__logo--link {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
* {
  box-sizing: border-box;
}
.body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #DFE0E1;
}
